@charset "utf-8";

/*============================================
               Grid CSS 
=============================================*/


/* Default screens */ 

#container {
  margin: 0 auto;
  max-width: 48rem;
  width:90%;
}

/* Medium screens  640px */ 
@media (min-width: 40rem) {
}

/* Large screens 1024px */ 
@media(min-width: 64rem) {
}
